@font-face {
	font-family: "NotoSans";
	src: url("../fonts/NotoSansKR-Black-Alphabetic.ttf");

	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "NotoSans";
	src: url("../fonts/NotoSansKR-Bold-Alphabetic.ttf");

	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "NotoSans";
	src: url("../fonts/NotoSansKR-Light-Alphabetic.ttf");

	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "NotoSans";
	src: url("../fonts/NotoSansKR-Medium-Alphabetic.ttf");

	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "NotoSans";
	src: url("../fonts/NotoSansKR-Regular-Alphabetic.ttf");

	font-weight: 400;
	font-style: normal;
}
